body {
    background-color: black;
    color: #fff;

    font-family: SpaceGrotesk-Light;

    line-height: 1.2;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 40px;
    padding: 1.2rem;
    background: rgb(128, 39, 39);
    background: linear-gradient(90deg, rgba(128, 39, 39, 1) 1%, rgba(64, 64, 73, 1) 47%, rgba(0, 0, 0, 1) 100%);
    text-align: justify;
}

strong {
    color: #a6d3a0;
}

h1 {
    font-family: SpaceGrotesk-Light;
    color: #a6d3a0;
    text-transform: uppercase;
    font-size: xx-large;
}